@model QuizLogic.Models.QuestionRule

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>QuestionRule</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="QuestionRuleId" />
            <div class="form-group">
                <label asp-for="SubjectId" class="control-label"></label>
                <select asp-for="SubjectId" class="form-control" asp-items="ViewBag.SubjectId"></select>
                <span asp-validation-for="SubjectId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScorePerQuestion" class="control-label"></label>
                <input asp-for="ScorePerQuestion" class="form-control" />
                <span asp-validation-for="ScorePerQuestion" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="AnswerAllQuestion" /> @Html.DisplayNameFor(model => model.AnswerAllQuestion)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="TotalQuestion" class="control-label"></label>
                <input asp-for="TotalQuestion" class="form-control" />
                <span asp-validation-for="TotalQuestion" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="UseUnlimitedTime" /> @Html.DisplayNameFor(model => model.UseUnlimitedTime)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="MaximumTime" class="control-label"></label>
                <input asp-for="MaximumTime" class="form-control" />
                <span asp-validation-for="MaximumTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoOfAllowedAttempt" class="control-label"></label>
                <input asp-for="NoOfAllowedAttempt" class="form-control" />
                <span asp-validation-for="NoOfAllowedAttempt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoOfAttemptPerDay" class="control-label"></label>
                <input asp-for="NoOfAttemptPerDay" class="form-control" />
                <span asp-validation-for="NoOfAttemptPerDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
